@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-cyan-primary: #06b6d4;
  --color-blue-primary: #3b82f6;
  --color-dark-bg: #050505;
  --color-hardware-light: #2a2a2a;
  --color-hardware-dark: #0a0a0a;
}

@layer base {
  body {
    @apply bg-white text-black overflow-hidden;
  }
}
